/*master styles*/
body{
	font-family: 'Lato', sans-serif;
	margin: 0px; 
}

.container {
	display: grid;
	grid-template-columns: 1fr;

}


/*nav styles*/
.nav-wrapper{
	display: flex;
	justify-content: space-between;
	padding: 38px;
	padding-right: 50px;
	padding-left: 50px;
}
.left-side{
	display: flex;

}
.nav-wrapper > .left-side > div{
	margin-right: 50px;
	font-size: 0.9em;
	text-transform: uppercase;
}
.nav-link-wrapper{
	height: 22px;
	/*border-bottom: 1px solid transparent;
	transition: border-bottom 0.5s;*/
}
.nav-link-wrapper a {
	color: #8a8a8a;
	text-decoration: none;
	transition: color 0.5s;
}
.nav-link-wrapper:hover {
	/*border-bottom: 1px solid black;*/
}
.nav-link-wrapper a:hover {
	color: yellow;
}
.active{
	/*border-bottom: 1px solid black;*/
}
.active a {
	color: yellow !important;
}
/*farewell styles*/
.farewell{
	display:grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
	padding:15px;
	padding-right: 50px;
	padding-left: 50px;
	padding-bottom: 50px;

	
}
.video{
	display:grid;
	grid-template-columns: 1fr;
	padding:15px;
}
.farewell-img-background{
	height:150px;
	width: 96%;
	background-size: auto;
	background-position: center;
	background-repeat: no-repeat;

	border: 2px solid;
	box-shadow: 5px 5px;

}
#teaser {
    height: 380px;

    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 3px;
    padding-right: 3px;
    
    background-color: transparent;
    position: relative;
    overflow: hidden;
    color: white;
    font-size: 16px;
    text-align: center;
  }

/*portfolio styles*/
.portfolio-items-wrapper{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	padding: 15px;
	padding-right: 50px;
	padding-left:50px;
	padding-top: 0px;
	padding-bottom: 100px;
}
.portfolio-item-wrapper{
	position: relative;
	padding-bottom: 15px;
}

.portfolio-img-background{
	height:330px;
	width: 96%;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;

	padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 3px;
    padding-right: 3px;

    

}
.img-text-wrapper{
	position: absolute;
	top:0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100%;
	text-align: center;
	padding-left: 100px;
	padding-right: 100px;  
}
.logo-wrapper img{
	width: 50%;
	margin-bottom: 20px;
	/*padding-left: 80px;
	padding-right: 100px;  */
}
/*needs to be more specific with selector*/

.img-text-wrapper .subtitle{
	transition: 1s;
	font-weight: 600;
	color: transparent;
}
/*my addition*/
.img-text-wrapper .subtitle a {
	transition: 1s;
	font-weight: 600;
	color: transparent;
}

.img-text-wrapper:hover .subtitle a {
	font-weight: 600;
	color: #8a8a8a;
}
/*my end*/

.img-text-wrapper:hover .subtitle{
	font-weight: 600;
	color: lightgreen;
}
.img-darken{
	transition: 1s;
	filter: brightness(10%);
}


/* about page styles*/
.two-column-wrapper{
	display: grid;
	grid-template-columns: 1fr 1fr;
}
.profile-img-wrapper img{
	width: 90%;
	height: 500px;
	padding: 30px;

}
.profile-content-wrapper{
	padding: 30px;
}
.profile-content-wrapper h1{
	color: lightseagreen;
}



.seniorphoto img {
  width: 120px;
  border-radius: 120px;
  margin-bottom: 10px;
  padding: 15px;
  }
  .seniors {
  display: inline-block;
  width: 120px;
  text-align: center;
  margin-right: 40px;

  }
  .juniorphoto img {
  width: 120px;
  border-radius: 120px;
  margin-bottom: 10px;
  padding: 15px;

  }
  .juniors {
  display: inline-block;
  width: 120px;
  text-align: center;
  margin-right: 40px;

  }

  #myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%; 
  min-height: 100%;
}
.event-wrapper{
	display: grid;
	grid-template-columns: 1fr;
	align-content: center;
	text-align: center;

}
.event-content{
	padding: 30px;
	align-content: center;

}
.event-content h1{
	
	color:orange; 
	text-decoration:underline; 

}
.event-content h2{
	color:yellow;
}
.event-content p{
	color:white;
}

.messages-items-wrapper{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	padding: 15px;
	padding-right: 50px;
	padding-left:50px;
	
	padding-bottom: 20px;
	}
.messages-heading{
	padding: 30px;
	align-content: center;
	text-align: center;

}
.messages-heading h1{
	
	color:orange; 
	text-decoration:underline; 

}
.messages-heading h2{
	
	color:yellow;  
	font-style: oblique;
}
.invitation-heading{
	padding: 30px;
	align-content: center;
	text-align: center;

}
.invitation-heading h1{
	
	color:orange; 
	font-style: oblique;
	text-shadow: 1px 1px;
}
.invitation-heading h2{
	
	color:white; 
	font-style: oblique;
}
.us{
	display: grid;
	grid-template-columns: 1fr;
	padding: 15px;
	padding-right: 65px;
	padding-left:50px;
	
	padding-bottom: 20px;
}
.us1{
	position: relative;
	padding-bottom: 15px;
}
.us2{
	height:600px;
	width: 100%;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;

	padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 3px;
    padding-right: 3px;
}
/*messages
			<div class="messages-heading">
				<h1>Glimpse from our Fresher's Party</h1>

			</div>
			<div class="us">
				<div class="us1">
					<div class="us2" style="background-image: url(memories/us.jpg);"></div>
				</div>
			</div>
			*/